* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 0 16px;
  line-height: 50px;
  min-width: 118px;
  font-weight: 600;
  text-align: center;
  font-style: semibold;
  font-size: 1.6rem;
  color: #ffffff;
  background: #171100;
  border-radius: 24.5px;
}

/* header */
header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav a {
  font-size: 1.6rem;
  color: #5f5b53;
  padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
  text-shadow: 1px 0 0 #000;
}

.nav li.active a {
  position: relative;
}
.nav li.active a::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 6px;
  left: 21px;
  width: 12px;
  height: 2px;
  opacity: 1;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}
