* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-btn: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-style: Bold;
  font-size: 3.8rem;
  line-height: 4.8rem;
  letter-spacing: -2%;
}
.btn {
  display: inline-block;
  padding: 0 16px;
  line-height: 50px;
  min-width: 118px;
  font-weight: 600;
  text-align: center;
  font-style: semibold;
  font-size: 1.6rem;
  color: #ffffff;
  background: #171100;
  border-radius: 999px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* header */
header {
  background: #fffcf4;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav a {
  font-size: 1.6rem;
  color: #5f5b53;
  padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
  text-shadow: 1px 0 0 #000;
}

.nav li.active a {
  position: relative;
}
.nav li.active a::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 6px;
  left: 21px;
  width: 12px;
  height: 2px;
  opacity: 1;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* Hero */

/* Hero left */

.hero {
  background-color: #fffcf4;
  padding: 56px 0 65px;
}

.hero .body {
  display: flex;
  gap: 130px;
}

.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero-summary {
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  width: 270px;
  opacity: 1;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 16px 32px 0px #0000000d;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  opacity: 1;
  background-color: #fff9e8;
  border-radius: 50%;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  font-style: Regular;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.hero-summary .title {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

/* Hero right */
.hero .content-block {
  width: 52%;
  padding-left: 0px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -1.16%;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3rem;
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-btn);
}

.hero .watch-video {
  border: none;
  display: flex;
  align-items: center;
  margin-left: 28px;
  background: transparent;
  cursor: pointer;
}

.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  opacity: 1;
  box-shadow: 0px 8px 16px 0px #00000012;
  border-radius: 40px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .watch-video span {
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
  line-height: 1.67;
  margin-left: 14px;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  margin-right: 15px;
  font-family: var(--font-heading);
  font-weight: 700;
  color: #171100;
  font-size: 44px;
  line-height: 5.4rem;
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* Popular Courses */

.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #5f5b53;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .control-btn {
  color: var(--primary-btn);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  opacity: 1;
  border-radius: 50%;
  border: 1px solid var(--primary-btn);
  background: transparent;
}

.popular-top .control-btn:hover {
  background-color: var(--primary-btn);
  color: #ffffff;
  cursor: pointer;
}

.popular-top .control {
  display: flex;
  gap: 18px;
}

.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-item .thumbnail {
  width: 100%;
  height: 28.1rem;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.popular .course-item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-item:hover {
  border-radius: 12px;
  border: 1px solid transparent;
  box-shadow: 0px 18px 36px 0px #0000000d;
  background: #ffffff;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .head,
.popular .course-item .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title a {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.popular .course-item .rating {
  display: flex;
  align-items: center;
}

.popular .rating .value {
  margin-left: 6px;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #fea31b;
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 2.6rem;
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #171100;
}

.popular .course-item .btn-book {
  border: none;
}

.popular .course-item .btn-book:hover {
  background-color: var(--primary-btn);
}
